* { 
    margin: 5px;
}


#titleText { 
    text-align: center;
}

#tally-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
}


@media (max-width: 768px) {
    #tally-container {
        width: 80px;
        height: 160px;
        font-size: 24px;
    }
    button {
        font-size: 16px;
    }
}
